**/__pycache__
local
telebotter/settings.py
mensaparser
strichcodebot
dokumentenbot
tour
projekt47
chamaeleon
kicken
kuhsag
mensa
wuerfeln
bottemplate
bilanzen
vokabeln
listerer
wetter
static
media
core/migrations
localdb
secret.py
**/secrete.*
meinkreft
