telebotter/settings.py
mensaparser
strichcodebot
dokumentenbot
projekt47
chamaeleon
kicken
kuhsag
mensa
wuerfeln
bottemplate
bilanzen
vokabeln
listerer
wetter
static
media
core/__pycache__
core/migrations
